@using Kapitalist.Web.Client.Helpers.Html
@model IEnumerable<Kapitalist.Web.Client.Interfaces.IFeatureEUViewModel>

@if (Model != null && Model.Any())
{
    <div>
        @foreach (var feature in Model)
        {
            <fieldset>
                <legend>@GlobalRes.Features</legend>

                <div class="col-md-10">
                    <div class="col-md-12">
                        <span class="col-md-4">@GlobalRes.Title:</span>
                        <span class="col-md-8" name="@Html.NameFor(m => feature.Title)">@feature.Title</span>
                    </div>
                    <div class="col-md-12">
                        <span class="col-md-4">@GlobalRes.TitleEn:</span>
                        <span class="col-md-8" name="@Html.NameFor(m => feature.TitleEn)">@feature.TitleEn</span>
                    </div>
                    <div class="col-md-12">
                        <span class="col-md-4">@GlobalRes.Description:</span>
                        <span class="col-md-8" name="@Html.NameFor(m => feature.Description)">@feature.Description</span>
                    </div>
                    <div class="col-md-12">
                        <span class="col-md-4">@GlobalRes.DescriptionEn:</span>
                        <span class="col-md-8" name="@Html.NameFor(m => feature.DescriptionEn)">@feature.DescriptionEn</span>
                    </div>
                    <div class="col-md-12">
                        <span class="col-md-4">@GlobalRes.FeatureValueTotal:</span>
                        <span class="col-md-8" name="@Html.NameFor(m => feature.Values)">@(feature.Values.Sum(m => m.Value)*100)%</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <a href="@Url.Action("EditFeatureEU", "DraftFeature", new {tenderGuid = feature.TenderGuid, featureId = feature.StringId})" class="btn btn-default">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    @Ajax.DeleteActionLink("", "DeleteFeature", new {controller = "DraftFeatureEn", action = "DeleteFeature", tenderGuid = feature.TenderGuid, featureId = feature.StringId},
                        new AjaxOptions {HttpMethod = "POST", Confirm = GlobalRes.Confirm, OnComplete = "location.reload()"},
                        new {@class = "btn btn-default"})
                </div>

                <div class="clearfix"></div>

                @if (feature.Values != null && feature.Values.Any())
                {
                    <hr/>
                    foreach (var featureValue in feature.Values.OrderByDescending(m => m.Value))
                    {
                        <div class="col-md-10">
                            <div class="col-md-6">
                                <span class="col-md-4">@GlobalRes.FeatureValueName:</span>
                                <span class="col-md-8" name="@Html.NameFor(m => featureValue.Title)">@featureValue.Title</span>
                            </div>
                            <div class="col-md-6">
                                <span class="col-md-4">@GlobalRes.FeatureValueNameEn:</span>
                                <span class="col-md-8" name="@Html.NameFor(m => featureValue.TitleEn)">@featureValue.TitleEn</span>
                            </div>
                            <div class="col-md-6">
                                <span class="col-md-4">@GlobalRes.FeatureValueValue:</span>
                                <span class="col-md-8" name="@Html.NameFor(m => featureValue.Value)">@(featureValue.Value*100)%</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <a href="@Url.Action("EditFeatureValueEU", "DraftFeatureValue", new {tenderGuid = feature.TenderGuid, featureId = feature.StringId, featureValueId = featureValue.Id})" class="btn btn-default">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            @Ajax.DeleteActionLink("", "DeleteFeatureValue", new {controller = "DraftFeatureValueEn", action = "DeleteFeatureValue", tenderGuid = feature.TenderGuid, featureId = feature.StringId, featureValueId = featureValue.Id},
                                new AjaxOptions {HttpMethod = "POST", Confirm = GlobalRes.Confirm, OnComplete = "location.reload()"},
                                new {@class = "btn btn-default"})
                        </div>
                    }
                }

                <a href="@Url.Action("AddFeatureValueEU", "DraftFeatureValue", new {tenderGuid = feature.TenderGuid, featureId = feature.StringId})" class="btn new-item-btn">
                    <i class="fa fa-plus-circle"></i>@GlobalRes.AddFeatureValue
                </a>
            </fieldset>
        }
    </div>
}