@using Kapitalist.Web.Resources
@model Kapitalist.Web.Client.ViewModels.Profile.ChangePasswordViewModel


<div class="container">
	<h2>@GlobalRes.ChangePassword.</h2>
	@using (Html.BeginForm("ChangePassword", "Profile", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<div class="form-group">
			<label class="col-md-3 control-label">@GlobalRes.CurrentPassword</label>
			<div class="col-md-9">
				@Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-3 control-label">@GlobalRes.NewPassword</label>
			<div class="col-md-9">
				@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-3 control-label">@GlobalRes.ConfirmNewPassword</label>
			<div class="col-md-9">
				@Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-3 col-md-9">
				<input type="submit" value="@GlobalRes.Save" class="btn btn-default col-xs-12 col-md-6 square-background-blue" />
				<a class="btn btn-default col-xs-12 col-md-6 square-background-blue" href="@Url.Action("Personal", "Profile")">@GlobalRes.Cancel</a>
			</div>
		</div>
	}
</div>
