@using Kapitalist.Web.Framework.Enums
@using Kapitalist.Web.Framework.Helpers
@using Kapitalist.Web.Resources
@model Kapitalist.Web.Client.ViewModels.Profile.PersonalViewModel

<<div class="container header-and-body-content form-horizontal">
    <fieldset>
        <legend>@GlobalRes.Edit.</legend>
        @using (Html.BeginForm("Edit", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "")

            @*<div class="form-group top-buffer">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.MiddleName, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NameEn, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.NameEn, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NameEn, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Phone, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CompanyType, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.EnumDropDownListFor(m => m.CompanyType, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CompanyType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Company.Id, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Company.Id, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Company.Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Company.LegalName, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Company.LegalName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Company.LegalName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Company.LegalNameEn, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Company.LegalNameEn, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Company.LegalNameEn, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Company.Scheme, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.DropDownListFor(m => m.Company.Scheme, ViewData["Schemes"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Company.Scheme, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Company.Uri, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Company.Uri, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Company.Uri, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Kind, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.EnumDropDownListFor(m => m.Kind, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Kind, "", new { @class = "text-danger" })
                </div>
            </div>


            <hr />
            <h2>Контактні данні:</h2>

            <div class="form-group">
                <label class="col-md-3 control-label">Ім’я контактної особи</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.ContactPoint.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ContactPoint.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">@GlobalRes.Telephone</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.ContactPoint.Telephone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ContactPoint.Telephone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">@GlobalRes.Email</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.ContactPoint.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ContactPoint.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Факс</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.ContactPoint.FaxNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ContactPoint.FaxNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Веб адреса контактної особи/пункту.</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.ContactPoint.Url, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ContactPoint.Url, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr />
            <h2>Адреса:</h2>

            <div class="form-group">
                <label class="col-md-3 control-label">Назва країни</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Address.Country, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Address.Country, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Область</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Address.Region, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Address.Region, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Населений пункт</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Address.Locality, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Address.Locality, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Поштовий індекс</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Address.PostalCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Address.PostalCode, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Вулиця</label>
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Address.Street, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Address.Street, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="col-md-offset-3 col-md-9">
                @Html.GenerateCaptcha()
                @Html.ValidationMessageFor(model => model.CaptchaSuccess, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <a href="@Url.Action("Personal", "Profile")" class="btn btn-default col-xs-12 col-md-3 square-background-yellow btn-lg">@GlobalRes.Cancel</a>
                    <input type="submit" value="@GlobalRes.Save" class="btn btn-default col-xs-12 col-md-3 square-background-blue btn-lg" />
                </div>
            </div>
        }
    </fieldset>
</div>

@Scripts.Render("~/bundles/profile/edit-personal")