@using Kapitalist.Web.Client.Helpers.Html
@model IEnumerable<Kapitalist.Web.Client.ViewModels.Published.DocumentViewModel>

@if (Model != null && Model.Any())
{
    <div>
        <fieldset>
            <legend>@GlobalRes.Documents</legend>
            @foreach (var document in Model)
            {
                <div class="col-md-10">
                    <div class="col-md-12">
                        <span class="col-md-4">@GlobalRes.Title:</span>
                        <span class="col-md-8" name="@Html.NameFor(m => document.Title)">@document.Title</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <a href="@Url.Action("EditDocument", "Document", new {tenderGuid = document.TenderGuid, documentId = document.StringId})" class="btn btn-default">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    @Ajax.DeleteActionLink("", "DeleteDocument", new {controller = "Document", action = "DeleteDocument", tenderGuid = document.TenderGuid, documentId = document.StringId},
                        new AjaxOptions {HttpMethod = "POST", Confirm = GlobalRes.Confirm, OnComplete = "location.reload()"},
                        new {@class = "btn btn-default"})
                </div>
            }
        </fieldset>
    </div>
}