@using Kapitalist.Core.OpenProcurement.Models
@using Kapitalist.Data.Models
@using Kapitalist.Data.Models.Enums
@using Kapitalist.Web.Client.Controllers.Drafts
@using Kapitalist.Web.Client.Helpers.Html
@using Kapitalist.Web.Resources
@model Kapitalist.Web.Client.ViewModels.Published.TenderBelowThresholdViewModel

<div class="container header-and-body-content form-horizontal">

@if (Model.ProcuringEntity != null)
{
    <fieldset>
        <legend>@GlobalRes.Procurer</legend>
        <div class="col-md-10">
            <div class="col-md-12">
                <span class="col-md-4">@GlobalRes.Identifier:</span>
                <span class="col-md-8" name="@Html.NameFor(m => m.Identifier)">@Model.Identifier</span>
            </div>
            <div class="col-md-12">
                <span class="col-md-4">@GlobalRes.Name:</span>
                <span class="col-md-8" name="@Html.NameFor(m => m.ProcuringEntity.Name)">@Model.ProcuringEntity.Name</span>
            </div>
            <div class="col-md-12">
                <span class="col-md-4"> Ó‰ ›ƒ–œŒ”:</span>
                <span class="col-md-8" name="@Html.NameFor(m => m.ProcuringEntity)"></span>
            </div>
            <div class="col-md-12">
                <span class="col-md-4">¬Â· Ò‡ÈÚ:</span>
                <span class="col-md-8" name="@Html.NameFor(m => m.ProcuringEntity.ContactPoint.Url)">@Model.ProcuringEntity.ContactPoint.Url</span>
            </div>
            <div class="col-md-12">
                <span class="col-md-1">@GlobalRes.Address:</span>
                <div class="col-md-11">
                    <div class="col-md-12">
                        <span class="col-md-3">@GlobalRes.Country:</span>
                        <span class="col-md-9" name="@Html.NameFor(m => m.ProcuringEntity.Address.Country)">@Model.ProcuringEntity.Address.Country</span>
                    </div>
                    <div class="col-md-12">
                        <span class="col-md-3">@GlobalRes.Region:</span>
                        <span class="col-md-9" name="@Html.NameFor(m => m.ProcuringEntity.Address.Region)"> @Model.ProcuringEntity.Address.Region</span>
                    </div>
                    <div class="col-md-12">
                        <span class="col-md-3">@GlobalRes.Locality:</span>
                        <span class="col-md-9" name="@Html.NameFor(m => m.ProcuringEntity.Address.Locality)">@Model.ProcuringEntity.Address.Locality</span>
                    </div>
                    <div class="col-md-12">
                        <span class="col-md-3">@GlobalRes.PostalCode:</span>
                        <span class="col-md-9" name="@Html.NameFor(m => m.ProcuringEntity.Address.PostalCode)">@Model.ProcuringEntity.Address.PostalCode</span>
                    </div>
                    <div class="col-md-12">
                        <span class="col-md-3">@GlobalRes.Street:</span>
                        <span class="col-md-9" name="@Html.NameFor(m => m.ProcuringEntity.Address.Street)">@Model.ProcuringEntity.Address.Street</span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}


<fieldset>
    <legend>@GlobalRes.Tender</legend>

    <div class="col-md-10">
        <div class="col-md-12">
            <span class="col-md-4">@GlobalRes.Type:</span>
            <span class="col-md-8" name="@Html.NameFor(m => m.ProcurementMethodType)">@Model.ProcurementMethodType</span>
        </div>
        <div class="col-md-12">
            <span class="col-md-4">@GlobalRes.Title:</span>
            <span class="col-md-8" name="@Html.NameFor(m => m.Title)">@Model.Title</span>
        </div>
        <div class="col-md-12">
            <span class="col-md-4">@GlobalRes.Description:</span>
            <span class="col-md-8" name="@Html.NameFor(m => m.Description)">@Model.Description</span>
        </div>
        <div class="col-md-12">
            <span class="col-md-4">@GlobalRes.ValueAmount:</span>
            <span class="col-md-8" name="@Html.NameFor(m => m.Value.Amount)">@Model.Value.Amount @Model.Value.Currency @(Model.Value.VATIncluded ? GlobalRes.VATIncludeTrue : GlobalRes.VATIncludeFalse)</span>
        </div>
        <div class="col-md-12">
            <span class="col-md-4">@GlobalRes.Enquery:</span>
            <div class="col-md-8" name="@Html.NameFor(m => m.EnquiryPeriod)">@Html.DisplayFor(m => m.EnquiryPeriod.StartDate) - @Html.DisplayFor(m => m.EnquiryPeriod.EndDate)</div>
        </div>
        <div class="col-md-12">
            <span class="col-md-4">@GlobalRes.Proposition:</span>
            <div class="col-md-8" name="@Html.NameFor(m => m.TenderPeriod)">@Html.DisplayFor(m => m.TenderPeriod.StartDate) - @Html.DisplayFor(m => m.TenderPeriod.EndDate)</div>
        </div>
    </div>

    <div class="col-md-2">
        <a href="@Url.Action("EditTender", "TenderBelowThreshold", new {tenderGuid = Model.Guid})" class="btn btn-default">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
        <a href="@Url.Action("Cancel", "CancelTender", new {tenderGuid = Model.Guid})" class="btn btn-default">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
    </div>

    <div class="clearfix"></div>

    <a href="@Url.Action("AddLot", "Lot", new {tenderGuid = Model.Guid})" class="btn new-item-btn">
        <i class="fa fa-plus-circle"></i>@GlobalRes.AddLot
    </a>
    <a href="@Url.Action("AddFeature", "Feature", new {tenderGuid = Model.Guid, type = FeatureType.Tender, relatedId = Model.Guid.ToString("N")})" class="btn new-item-btn">
        <i class="fa fa-plus-circle"></i>@GlobalRes.AddFeature
    </a>
    <a href="@Url.Action("AddDocument", "Document", new {tenderGuid = Model.Guid, relatedTo = RelatedTo.Tender, relatedId = Model.Guid.ToString("N")})" class="btn new-item-btn">
        <i class="fa fa-plus-circle"></i>@GlobalRes.AddDocument
    </a>
    <a href="@Url.Action("AddQuestion", "Question", new {tenderGuid = Model.Guid, relatedTo = RelatedTo.Tender, relatedId = Model.Guid.ToString("N")})" class="btn new-item-btn">
        <i class="fa fa-plus-circle"></i>@GlobalRes.AddQuestion
    </a>
    <a href="@Url.Action("AddComplaint", "Complaint", new {tenderGuid = Model.Guid})" class="btn new-item-btn">
        <i class="fa fa-plus-circle"></i>@GlobalRes.AddClaimComplaint
    </a>

    @{
        if (Model.Features != null)
        {
            Html.RenderPartial("FeaturePartialView", Model.Features);
        }
        if (Model.Documents != null)
        {
            Html.RenderPartial("DocumentPartialView", Model.Documents);
        }
        if (Model.Questions != null)
        {
            Html.RenderPartial("QuestionPartialView", Model.Questions);
        }
        if (Model.Complaints != null)
        {
            Html.RenderPartial("ComplaintPartialView", Model.Complaints);
        }
    }

</fieldset>


@if (Model?.Lots != null && Model.Lots.Any())
{
    int lotIndex = 0;
    foreach (var lot in Model.Lots)
    {
        lotIndex++;

        <fieldset>
            <legend>
                @GlobalRes.Lot π@lotIndex
            </legend>


            <div class="col-md-10">
                <div class="col-md-12">
                    <span class="col-md-4">@GlobalRes.Title:</span>
                    <span class="col-md-8" name="@Html.NameFor(m => lot.Title)">@lot.Title</span>
                </div>
                <div class="col-md-12">
                    <span class="col-md-4">@GlobalRes.Description:</span>
                    <span class="col-md-8" name="@Html.NameFor(m => lot.Description)">@lot.Description</span>
                </div>

                <div class="col-md-12">
                    <span class="col-md-4">@GlobalRes.Amount:</span>
                    <span class="col-md-8" name="@Html.NameFor(m => lot.Value.Amount)">@lot.Value.Amount @lot.Value.Currency @(lot.Value.VATIncluded ? GlobalRes.VATIncludeTrue : GlobalRes.VATIncludeFalse)</span>
                </div>

                <div class="col-md-12">
                    <span class="col-md-4">@GlobalRes.MinimalStep. @GlobalRes.Amount:</span>
                    <span class="col-md-8" name="@Html.NameFor(m => lot.MinimalStep.Amount)">@lot.MinimalStep.Amount</span>
                </div>
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("EditLot", "Lot", new {tenderGuid = lot.TenderGuid, lotId = lot.StringId})" class="btn btn-default">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                @Ajax.DeleteActionLink("", "DeleteLot", new {controller = "Lot", action = "DeleteLot", tenderGuid = Model.Guid, lotId = lot.StringId},
                    new AjaxOptions {HttpMethod = "POST", Confirm = GlobalRes.Confirm, OnComplete = "location.reload()"},
                    new {@class = "btn btn-default"})
            </div>


            <div class="clearfix"></div>

            <a href="@Url.Action("AddItem", "Item", new {tenderGuid = Model.Guid, lotId = lot.StringId})" class="btn new-item-btn">
                <i class="fa fa-plus-circle"></i>@GlobalRes.AddItem
            </a>
            <a href="@Url.Action("AddFeature", "Feature", new {tenderGuid = Model.Guid, type = FeatureType.Lot, relatedId = lot.StringId})" class="btn new-item-btn">
                <i class="fa fa-plus-circle"></i>@GlobalRes.AddFeature
            </a>
            <a href="@Url.Action("AddDocument", "Document", new {tenderGuid = lot.TenderGuid, relatedTo = RelatedTo.Lot, relatedId = lot.StringId})" class="btn new-item-btn">
                <i class="fa fa-plus-circle"></i>@GlobalRes.AddDocument
            </a>
            <a href="@Url.Action("AddQuestion", "Question", new {tenderGuid = Model.Guid, relatedTo = RelatedTo.Lot, relatedId = lot.StringId})" class="btn new-item-btn">
                <i class="fa fa-plus-circle"></i>@GlobalRes.AddQuestion
            </a>
            <a href="@Url.Action("AddComplaint", "Complaint", new {tenderGuid = Model.Guid, complaintId = lot.StringId})" class="btn new-item-btn">
                <i class="fa fa-plus-circle"></i>@GlobalRes.AddClaimComplaint
            </a>

            @{
                if (lot.Features != null)
                {
                    Html.RenderPartial("FeaturePartialView", lot.Features);
                }
                if (lot.Documents != null)
                {
                    Html.RenderPartial("DocumentPartialView", lot.Documents);
                }
                if (lot.Questions != null)
                {
                    Html.RenderPartial("QuestionPartialView", lot.Questions);
                }
                if (lot.Complaints != null)
                {
                    Html.RenderPartial("ComplaintPartialView", lot.Complaints);
                }
            }

            @if (lot.Items != null && lot.Items.Any())
            {
                <div>
                    @{ int itemIndex = 0; }
                    @foreach (var item in lot.Items)
                    {
                        itemIndex++;
                        <fieldset>
                            <legend>@GlobalRes.Item π@lotIndex.@itemIndex</legend>

                            <div class="col-md-10">
                                <div class="col-md-12">
                                    <span class="col-md-4">@GlobalRes.Description:</span>
                                    <span class="col-md-8" name="@Html.NameFor(m => item.Description)">@item.Description</span>
                                </div>
                                <div class="col-md-12">
                                    <span class="col-md-4">@GlobalRes.Quantity:</span>
                                    <span class="col-md-8" name="@Html.NameFor(m => item.Quantity)">@item.Quantity @item.Unit.Name</span>
                                </div>
                                <div class="col-md-12">
                                    <span class="col-md-1">@GlobalRes.Address:</span>
                                    <div class="col-md-11">
                                        <div class="col-md-12">
                                            <span class="col-md-3">@GlobalRes.Country:</span>
                                            <span class="col-md-9" name="@Html.NameFor(m => item.DeliveryAddress.Country)">@item.DeliveryAddress.Country</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span class="col-md-3">@GlobalRes.Region:</span>
                                            <span class="col-md-9" name="@Html.NameFor(m => item.DeliveryAddress.Region)"> @item.DeliveryAddress.Region</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span class="col-md-3">@GlobalRes.Locality:</span>
                                            <span class="col-md-9" name="@Html.NameFor(m => item.DeliveryAddress.Locality)">@item.DeliveryAddress.Locality</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span class="col-md-3">@GlobalRes.PostalCode:</span>
                                            <span class="col-md-9" name="@Html.NameFor(m => item.DeliveryAddress.PostalCode)">@item.DeliveryAddress.PostalCode</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span class="col-md-3">@GlobalRes.Street:</span>
                                            <span class="col-md-9" name="@Html.NameFor(m => item.DeliveryAddress.Street)">@item.DeliveryAddress.Street</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <span class="col-md-4">@GlobalRes.Delivery:</span>
                                    <div class="col-md-8" name="@Html.NameFor(m => item.DeliveryDate)">@Html.DisplayFor(m => item.DeliveryDate.StartDate) - @Html.DisplayFor(m => item.DeliveryDate.EndDate)</div>
                                </div>
                                <div class="col-md-12">
                                    <span class="col-md-4">@GlobalRes.CpvCode:</span>
                                    <span class="col-md-8" name="@Html.NameFor(m => item.Classification)">@item.Classification.Id @item.Classification.Description</span>
                                </div>
                                <div class="col-md-12">
                                    <span class="col-md-3">@GlobalRes.GsinCode:</span>
                                    <div class="col-md-9" name="@Html.NameFor(m => item.AdditionalClassifications)">
                                        @foreach (var gsin in item.AdditionalClassifications)
                                        {
                                            <span class="col-md-1">@gsin.Scheme</span>
                                            <div class="col-md-11">
                                                <span>@gsin.Id @gsin.Description</span>
                                            </div>
                                        }
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-2">
                                <a href="@Url.Action("EditItem", "Item", new {tenderGuid = item.TenderGuid, itemId = item.StringId})" class="btn btn-default">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                @Ajax.DeleteActionLink("", "DeleteItem", new {controller = "Item", action = "DeleteItem", tenderGuid = Model.Guid, itemId = item.StringId},
                                    new AjaxOptions {HttpMethod = "POST", Confirm = GlobalRes.Confirm, OnComplete = "location.reload()"},
                                    new {@class = "btn btn-default"})
                            </div>
                            <div class="clearfix"></div>
                            <a href="@Url.Action("AddFeature", "Feature", new {tenderGuid = Model.Guid, type = FeatureType.Item, relatedId = item.StringId})" class="btn new-item-btn">
                                <i class="fa fa-plus-circle"></i>@GlobalRes.AddFeature
                            </a>
                            <a href="@Url.Action("AddDocument", "Document", new {tenderGuid = item.TenderGuid, relatedTo = RelatedTo.Item, relatedId = item.StringId})" class="btn new-item-btn">
                                <i class="fa fa-plus-circle"></i>@GlobalRes.AddDocument
                            </a>
                            @{
                                if (item.Features != null)
                                {
                                    Html.RenderPartial("FeaturePartialView", item.Features);
                                }
                                if (item.Documents != null)
                                {
                                    Html.RenderPartial("DocumentPartialView", item.Documents);
                                }
                                if (item.Questions != null)
                                {
                                    Html.RenderPartial("QuestionPartialView", item.Questions);
                                }
                            }
                        </fieldset>
                    }
                </div>
            }

        </fieldset>
    }
}
</div>